<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
   <h1>这里是主页</h1>
   {{ name }}
   {{ age }}
   {{ num }}
   <br>
   <!-- 这里支持加减  -->
   {{ num + 1 }}
   {{ num + 18 }}
   {% if flag == 0%}
   flag确实是0
   {% elif flag == 0 %}
   语句2
   {% elif flag == 2 %}
   flag bug
   {% else %}
   baiche
   {% end %}
   <!-- 这里需要用模板的注释才能真正的注释掉双大括号 -->
   <!-- 这里一定要注意,这个普通的注释会被加载到页面中 -->
   {# num: {{ num }} #}
   <!-- 模板的注释才是真正的注释 -->
   {# num: {{ num + 10 }} #}
   <!-- 等号的赋值的不好使的,会报错  -->
   {# num: {{ num = 5}} #}
</body>
</html>