<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post page</title>
    <!--    导入jQuery-->
    <script type="text/javascript" charset="utf-8" src="{{static_url('js/jquery.min.js')}}"></script>
</head>
<body>

<input id="hi" type="hidden" name="_xsrf" value="">
姓名:<input type="text" name="username">
<hr/>
密码:<input type="password" name="password">
<hr/>
<input type="submit" value="登录">
<button id="btn" onclick="login()">登录</button>
<script>
    function getCookie(name) {
        // 这里写的就不用管他是啥意思了
        var cook = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        // 我们要返回的是cookie,不是cook
        // 如果有,那我就拿他的第一个值,就是这个cookie值
        return cook ? cook[1] : undefined
    }

    function login() {
        // 发起ajax请求我们有很多种方式
        // 发起post请求我们有两种方式,一种是
        $.post("/postfile",
            "_xsrf=" + getCookie("_xsrf") + "&username=" + "victor" + "&passwd=" + "123456",
            // 请求成功后的回调函数
            function (data) {
                alert("ok\\(^o^)/~");
                alert(data);
            }
        );
        // TODO 其实这里要通过DOM元素获取username,和passwd的值的,
        // TODO 因为这里不是作为重点就写了
        /**
         * 这里主要是要带着这个xsrf防护,不然这个是不能给你响应的
         */
    }
</script>
</body>

</html>