<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post page</title>
    <!--    导入jQuery-->
    <script type="text/javascript" charset="utf-8" src="{{static_url('js/jquery.min.js')}}"></script>
</head>
<body>

<input id="hi" type="hidden" name="_xsrf" value="">
姓名:<input type="text" name="username">
<hr/>
密码:<input type="password" name="password">
<hr/>
<input type="submit" value="登录">
<button id="btn" onclick="login()">登录</button>
<script>
    function getCookie(name) {
        // 这里写的就不用管他是啥意思了
        var cook = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        // 我们要返回的是cookie,不是cook
        // 如果有,那我就拿他的第一个值,就是这个cookie值
        return cook ? cook[1] : undefined
    }

    function login() {
        // TODO 这块还是那么回事,数据可以通过DOM来动态获取
        data = {
            "username": "victor",
            "passwd": "123456",

            };
        // 我们需要把我们的数据给他变成一个字符串
        // 这个方法是JS中的东西,不是python,jQuery的
        var data_str = JSON.stringify(data);
        // 这个ajax怎么写呢?,他里面就一个参数,就是一个字典
        $.ajax({
            url: "/postfile",
            // 这个请求方式你写啥,他就是啥,他都能发
            method: "POST",
            data: data_str,
            // 你看吧这个字典中的一个键里面对应的值是函数,
            // 虽然外面就一个字典类型的参数,但是回调函数还是有的
            success: function () {
                alert("ok!!!")
            },
            // 到这里绝壁是不能成功的,因为我这个_xsrf都没写怎么能成功呢
            // 如果想发起请求,我们还需要添加一个headers,也就是请求头
            headers:{
                // 来这个跟着写就对了
                // 这个值就设置成之前那个cookie值就行了
                "X-XSRFToken": getCookie("_xsrf"),
            },
        })
        // 以后发起ajax请求,建议使用这个,功能更加强大

    }
</script>
</body>

</html>